<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Teko&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="static/css/login.css" />

    <title>Iniciar sesion</title>
  </head>
  <body>
    <header></header>

    <main>
      <form action="login" class="login">
        <div>
          <label for="Nombre-de-usuari@"></label>
          <input
            type="text"
            name="Nombre de usuari@"
            placeholder="Nombre de usuari@"
            class="placeholder"
          />
        </div>
        <div>
          <label for="contraseña"></label>
          <input
            type="password"
            name="contraseña"
            placeholder="Contraseña"
            class="placeholder"
          />
        </div>
        <div>
          <button class="enviar" type="submit"><a href="/">Enviar</a></button>
        </div>
      </form>
    </main>

    <footer></footer>
  </body>
</html>
