<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Teko&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/css/register.css" />
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />

    <title>Register</title>
  </head>
  <body>
    <header class="navegacion">
       
      <div class="header-top">
          
          <div class="header-logo-search">
            <a href="/"><img class="tamanologo" src="static/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"></a>
            
            <br>
            <br>
            
            <div class="search-header">    
                <input type="text" placeholder="Buscar productos, marcas">
                <button><i class="fas fa-search"></i></button>
              </div>
          </div>  
              
              <p class="copy-header"> <i class="fas fa-money-bill-wave"></i> 
                  Comprá en cuotas y sin tarjeta de crédito</p>
                  
      </div>
          
             <ul type = "none" class="listas">
              <div class="left-listas">
                 <li><a href="#">Ofertas</a></li>
                 <li><a href="#">Tiendas Oficiales</a></li>
                 <li><a href="#">Vender</a></li>
                 <li><a href="#">Ayuda</a></li>
              </div>
                 <br>
              <div class="rigth-listas">
                 <li><a href="/register">Creá tu cuenta </a> <i class="fa fa-user"></i></li>  
                 <li><a href="/login">Ingresá </a> </i><i class="fas fa-sign-in-alt"></i></li> 
                 <li><a href="#">Mis compras</a><i class="fas fa-shopping-cart"></i></li>
              </div>
              </ul>
          
              <div class="hamburguesa">
                <i class="fas fa-bars fa-3x"></i>            
            </div>
  
          <br>
          <br>
         
      </header>

    <main>
      <form action="/ruta" method="post" class="register">
        <div>
          <label for="Nombre-apellido"></label>
          <input
            type="text"
            name="Nombre y apellido"
            placeholder="Nombre y apellido"
            class="placeholder"
          />
        </div>

        <div>
          <label for="Nombre-de-usuari@"></label>
          <input
            type="text"
            name="Nombre de usuari@"
            placeholder="Nombre de usuari@"
            class="placeholder"
          />
        </div>

        <div>
          <label for="Fecha-de-nacimiento"></label>
          <input
            type="date"
            name="Fecha de nacimiento"
            placeholder="Fecha de nacimiento"
            class="placeholder"
          />
        </div>

        <div>
          <label for="Domicilio"></label>
          <input
            type="text"
            name="Domicilio"
            placeholder="Domicilio"
            class="placeholder"
          />
        </div>

        <div>
          <label for="consulta">
            <h2>Perfil de usuario</h2>
            <input type="radio" name="consulta" value="comprar" /> Comprar
            <input type="radio" name="consulta" value="vender" /> Vender
          </label>
        </div>

        <div>
          <label for="preferencias" class="checkbox">           
            <h2>Perfil de usuario</h2>
            <div><input type="checkbox" name="preferencias" value="Electro" /> Electro </div>
            <div><input type="checkbox" name="preferencias" value="Moda" /> Moda </div>
            <div><input type="checkbox" name="preferencias" value="Hogar" /> Hogar </div>
            <div><input type="checkbox" name="preferencias" value="Juguetería" /> Juguetería </div>
            <div><input type="checkbox" name="preferencias" value="Vida sana" /> Vidasana </div>
          </label>           
        </div>

        <div>
          <label for="foto-usuario"></label>
          <input type="file" accept="image/*" name="Foto de usuario" />
        </div>

        <div>
          <label for="contraseña"></label>
          <input
            type="password"
            name="contraseña"
            placeholder="Contraseña"
            class="placeholder"
          />
        </div>

        <div>
          <label for="confirmar-contraseña"></label>
          <input
            type="password"
            name="confirmar-contraseña"
            placeholder="Confirmar Contraseña"
            class="placeholder"
          />
        </div>

        <div class="botones">
          <button class="enviar" type="submit"><a href="/">Enviar</a></button>
          <button class="borrar" type="reset">Borrar</button>
        </div>
      </form>
    </main>
    <footer></footer>
  </body>
</html>
