
*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    background: #ebebeb;
   
}

/* HEADER*/ 

header{
    background-color: #EAC926;
}   

.header-top{
    text-align: center;
       
}

.copy-header{
    font-size: 16px;
}


.header-logo-search{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.tamanologo {
    flex-grow: 0.4;
}

.search-header{
    flex-grow: 0.4;

}


.listas a {
    text-decoration: none;  
    color: #000000;
    display: inline-block;
    padding: 2px;
}

.listas{
    display: none;
}


.hamburguesa {
    text-align: center;
    color: white;
   
}

.hamburguesa i{
    background-color: #1259c3;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

/* CUERPO */

.login {
    margin-top: 100px;
    text-align: center;
}

.login div{
    margin-top: 10px;
}

.placeholder{
    text-align: center;
    width: 70%;
    height: 30px;
    border-radius: 5px;
}

.login div a{
    text-decoration: none;
    color: black;
}

.enviar{
    width: 150px;   
    font-size: 1.1rem;
    border-radius: 10px;
    text-decoration: none;
    transition: all 500ms;
}

.enviar:hover{
    background-color: greenyellow;
    border-radius: 100px;
}



/*TABLET*/

@media (min-width: 361px){
    .tamanologo{
        width: 50%;
    }

    .search-header{
        width: 50%;
    }

    .header-logo-search{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    

    .articulos{
        display: flex;
        flex-wrap: wrap;  
        justify-content:space-between;
    }

    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);  
        width: 49%; 
    }

    h3{
        display: block;
    }

    .listas{
        display: block;
    }

    .hamburguesa{
        display: none;
    }

    /*CUERPO*/

    .placeholder {
        width: 60%;
    }

}

/*PC*/

@media (min-width: 769px){
    
    /*HEADER*/
    
    .header-top{
        width: 95%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .tamanologo {
        width: 25%;
    }

    .search-header {
        max-width: 35%;
    }
    
    .copy-header{
       max-width: 30%;
       text-align: right;
    }

    
    .listas{
        /*border: 2px red dotted;*/
        width: 90%;
        margin: 10px auto;
        display: flex;
        justify-content: space-between;
        font-size: .8rem;
    }
    
    .left-listas,  .rigth-listas {
        display: flex;
    }

    .left-listas li, .rigth-listas li{
        margin: 0 10px;
    }

    

    .hamburguesa{
        display: none;
    }

     /*CUERPO*/

     .placeholder {
        width: 40%;
    }
}